<h2>Pomodoro Timer</h2>

    <div id='timer'>
      <a class='button' href='/' id='button-25'>25</a>
      <a class='button' href='/' id='button-5-break'>5</a>
      <a class='button' href='/' id='button-25-break'>25</a>
      <div id='timer-bar'></div>
      <div id='timer-log'></div>
    </div>
    <div id='task-header'>
      <a href='/' id='add'></a>
    </div>
    <div id='tasks'>
      <ul>
        <li class='task'>
          <div class='handle'></div>
          <form class='task'>
            <input class='textfield' name='name' tabindex='0' type='text' />
          </form>
          <div class='completion'>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
            <a href='/'></a>
          </div>
        </li>
      </ul>
    </div>
    <div id='task-footer'></div>