<div class="btn-group">
  <a button class="btn btn-info" href="/main/project_active">By Assignee</a>
  <a button class="btn btn-info" href="/main/project_active_by_requester">By Requester</a>
  <a button class="btn btn-info" href="/main/project_unassigned">Unassigned</a>
  <a button class="btn btn-info" href="/priority/index">Priority Management</a>
  <a button class="btn btn-primary" href="/tasks/new">New Task</a>
</div>