%h1 Memory BU Tools
Welcome to Memory BU Tools.  This is a work in progress and feedback is welcome.
%h2 Tools available are:
%ul
  %li TMS - Test engineering request management system
  %li SETUP - Tool to monitor actual test program deployment to the wafer sort floor (ACP and MEMP)
  %li PTO - Test Engineering PTO report
  %li Resource Allocation - Actuals and forecast data for NPI key projects

%p
  %a{:href => "/admin/logout"} Logout