<h1>Active Tasks - Past Due for <%=@full_name%></h1>
<p>
    <%= @today.to_s(:long) %>
</p>
<hr>
				<%= render 'grid' %>

<br/>
<!-- <%= link_to 'New Task', new_task_path %> -->
<p>
    <a href="/main/index">TMS Home</a>
</p>
