<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title></title>
</head>
<body>
	<h1>
		Active Tasks: 
	</h1>


	<p>
		<%= @today.to_s(:long) %>: 
		<%= @tasks.count%> tasks listed
	</p>
	<hr>


	<div id="accordion">
		<%@te.each do |t|%>
		<%@tasks=Task.all_my_active(t.id)%>
		<h3><a href="#"><%=t.fullname%></a></h3>
		<div><%= render 'grid' %></div>

		<%end%>
	</div>
</body>
</html>
