<div class="btn-group">
  <a class="btn btn-primary" href="/main/pto_current">PTO 30 days</a>
  <a class="btn btn-primary" href="/main/pto_current_90">PTO 90 days</a>
  <a class="btn btn-info" href="/ptos/new">PTO Entry</a>
  <% if @auth == 2 %>
    <a class="btn btn-info" href="/ptos">PTO Raw Table</a>
  <% end %>
</div>
<h2>Passports for renewal
    <small>
      <%= @passport_outlook %>
      month outlook:
      <%= @passport_date.to_s(:long) %>
    </small>
</h2>
<table cellspacing="10" class="display" id="prr" width="100%">
  <thead>
    <tr>
      <th>
        <b>User</b>
      </th>
      <th>
        <b>Passport Expiration</b>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @passports.each do |p| %>
      <tr>
        <td>
          <%= p.fullname %>
        </td>
        <td>
          <%= p.passport %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>