				<tr>
					<td>
						<%=h query_results.device%>
					</td>
					<td>
						<% if query_results.wafer %>
						<%=h query_results.wafer[0..4]%>
						<% end %>
					</td>
					<td>
						<%=h sprintf("%5.3f",query_results.fg_stdcost)%>
					</td>
					<td>
						<%= link_to 'Show', query_results %>
					</td>
				</tr>