		<h2>
			Total Cost Information
		</h2>
		<table width="30%">
			<tr>
				<td>
					Total Manufacturing Costs
				</td>
				<td>
					<%=c.tst_cost%>
				</td>
			</tr>
			<tr>
				<td>
					Total Standard Cost
				</td>
				<td>
					<%=c.fg_stdcost%>
				</td>
			</tr>
		</table>