<h1>Query Result</h1>
<hr>
<table width="50%">
	<tr>
		<th>
			<b>Catalog</b>
		</th>
		<th>
			<b>Internal Device<b>
		</th>	
		<th>
			<b>Total Cost</b>
		<th>
		</th>
	</tr>
<% @cost.each do |c|%>
<%= render :partial => 'tbl_overview', :locals => {:c => c} %>
<%end%>
</table>