<h2>Crypto Personalization</h2>

<div class="btn-group">
  <a button class="btn btn-primary" href="/manids">MANID table</a>
  <a button class="btn btn-primary" href="/samples">Samples Timeline</a>
  <a button class="btn btn-primary" href="/sample_front">Personalization Report</a>
</div>