<h2>Crypto Personalization</h2>

<div class="btn-group">
  <a button class="btn btn-primary" href="/manids">MANID table</a>
  <a button class="btn btn-primary" href="/samples">Samples Timeline</a>
  <a button class="btn btn-primary" href="/sample_front">Personalization Report</a>
</div>




			    <li class="<%= 'active' if params[:controller] == 'manids' %>" ><a href="/manids">MAN ID</a></li>
			    <li class="<%= 'active' if params[:controller] == 'samples' %>" ><a href="/samples">Samples</a></li>
			    <li class="<%= 'active' if params[:controller] == 'sample_front' %>" ><a href="/sample_front">Crypto Personalization</a></li>