<p>TMS has received your PTO request.  You will receive email confirmation from me shortly.</p>
<p>Name: <%=@regarding_name%>
<p>Start: <%=@pto.start%></p>
<p>Finish: <%=@pto.finish%></p>

<p>James Hughes</p>