<p><h2>**ALERT to Memory Business Planner**</h2></p>
<h3>Please copy the table to your existing spreadsheet of dispositions waiting for signoff.</h3>
<h2><%= @sa.sas_type%> Scrap</h2>
<!-- #render partial for abnormal, RMA, or obsolete -->
<%= render :partial => 'sas_table' %>
<%= render :partial => 'sas_record' %>