<p>TMS has received your task request.  It will be scheduled shortly.</p>
<p>Task ID: <%= @task.id %></p>
<p>Task Name: <%= @task.taskname %></p>
<p>Task Details: <%= @task.description %>
<p>Requested completion date: <%=@task.tcd%>
<p>James Hughes</p>