<p>The following TMS entry has been edited.</p>
<p>Task ID: <%= @task.id %></p>
<p>Task Name: <%= @task.taskname %></p>
<p>Task Details: <%= @task.description %>
<p>Requested completion date: <%=@task.tcd%>
<p>James Hughes</p>