<h2>Crypto Personalization Database</h2>
<table cellspacing='10' class='display' id='prr' width='100%'>
	<thead>
        <%= render :partial => 'record_header' %>
	</thead>
	<tbody>
	    <%= render :partial => 'record', :collection => @samples %>
	</tbody>
</table>
