= render :partial =>"pill_navigation",:locals => {:active => "Priority_management"}
= render :partial =>"page_header",:locals => {:title => "Priorities", :description => "tools to reorder tasks"}

%p
  Project
  %a{:href => "/priority/project_auto_priority"} Auto-priority
  with spacing of 1 (sort by category and priority)