<h1>Priority Management Tools</h1>
Welcome, <%=@full_name%> with auth_level of <%=@auth%>
<br>
<br>
<h2>Project <a href="/priority/project_auto_priority">Auto-priority</a> with spacing of 3 (sort by category and priority)</h2>
<h2>Project <a href="/priority/project_manual_priority">manual-priority</a> with spacing of 1 (sort by requester, category, and current priority)</h2>