<h1>ProberVision Setup Utilities</h1>
<div class="btn-group">
  <a class="btn btn-primary" href="/setup_sync/prr?family=2Wire">2 Wire</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=3Wire">3 Wire</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=SPI">SPI</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=Crypto">Crypto</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=TS">Temp Sensor</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/setup_sync/prr?family=AVR8">AVR8</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=AVR32">AVR32</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=ARM">ARM</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=C51">C51</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=XMEGA">XMEGA</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=Touch">Touch</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/targets">Target</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/setup_sync/report?report=EPRO">EPRO Entries</a>
  <a class="btn btn-primary" href="/setup_sync/report?report=RED">RED Report</a>
  <a class="btn btn-primary" href="/setup_sync/report?report=x_flow">X-Flows</a>
</div>
<p>
  This data is manually updated once per day
</p>
<% if @auth == 2 %>
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-warning" data-toggle="dropdown" href="#">
      Import Functions
      <span class="caret"></span>
      <ul class="dropdown-menu">
        <li>
          <a href="/import/setup">Import setup.txt (ACP and MEMP)</a>
        </li>
        <li>
          <a href="/import/device">Import device files</a>
        </li>
        <!-- dropdown menu links
        -->
      </ul>
    </a>
  </div>
<% end %>