<h1> ProberVision Setup Utilities</h1>

<div class="btn-group">
  <a button class="btn btn-primary" href="/setup_sync/prr?family=2W">2 Wire</a>
  <a button class="btn btn-primary" href="/setup_sync/prr?family=3W">3 Wire</a>
  <a button class="btn btn-primary" href="/setup_sync/prr?family=SPI">SPI</a>
  <a button class="btn btn-primary" href="/setup_sync/prr?family=CP">Crypto</a>
  <a button class="btn btn-primary" href="/targets">Target</a></button>
</div>

<% if @auth == 2%>
<li><a href="/import/setup">Import setup.txt (ACP and MEMP)</a></li>
<li><a href="/import/device">Import device files</a></li>
<%end%>
