<h1> ProberVision Setup Utilities</h1>

<div class="btn-group">
  <button class="btn"><a href="/setup_sync/prr?family=2W">2 Wire</a></button>
  <button class="btn"><a href="/setup_sync/prr?family=3W">3 Wire</a></button>
  <button class="btn"><a href="/setup_sync/prr?family=SPI">SPI</a></button>
  <button class="btn"><a href="/setup_sync/prr?family=CP">Crypto</a></button>
  <button class="btn"><a href="/targets">Target</a></button>
<li><a href="/import/setup">Import setup.txt (ACP and MEMP)</a></li>
<li><a href="/import/device">Import device files</a></li>