%h1 ProberVision Setup Utilities
.btn-group
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/prr?family=2W"} 2 Wire
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/prr?family=3W"} 3 Wire
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/prr?family=SPI"} SPI
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/prr?family=CP"} Crypto
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/prr?family=TS"} Temp Sensor
.btn-group
  %a.btn.btn-primary{:button => "", :href => "/targets"} Target
.btn-group
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/report?report=EPRO"} EPRO Entries
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/report?report=RED"} RED Report
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/report?report=x_flow"} X-Flows
%p
  This data is manually updated once per day
- if @auth == 2
  .btn-group
    %a.btn.dropdown-toggle.btn-warning{"data-toggle" => "dropdown", :href => "#"}
      Import Functions
      %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "/import/setup"} Import setup.txt (ACP and MEMP)
        %li
          %a{:href => "/import/device"} Import device files
        / dropdown menu links