<!-- Date output and header, requires <table wrapper -->
<tr>
<% @project_summary.each do |month, value| %>
<td>
	<%= month.strftime("%b-%y")%>
</td>
<% end %>
<td>
	Total MM
</td>
<td>
	Total MY
</td>

</tr>
