<ul class="pills">
  <%if active == "Key"%>
	<li class="active">
		<%else%>
		<li>
			<%end%>
	<a href="/resource/key_projects">Key Projects</a></li>
  <%if active == "All"%>
	<li class="active">
		<%else%>
		<li>
			<%end%>
	<a href="/projects">All Projects</a></li>
  <%if active == "Actual"%>
	<li class="active">
		<%else%>
		<li>
			<%end%>
	<a href="/resource/actual">Actual vs Forecast</a></li>
</ul>