.btn-group
  %a.btn.btn-primary{:button => "", :href => "/resource/key_projects"} Key Projects
  %a.btn.btn-primary{:button => "", :href => "/projects"} All Projects
  %a.btn.btn-primary{:button => "", :href => "/resource/variance"} Variance Data