		<div id ="product-list">
			<tr><td width="20%"><%=department%>
	</td>
    <%for i in (0..16) %>
		<% if @dr_month[4] == i%>
			<td class = "dr5">
		<% elsif @dr_month[3] == i%>
			<td class = "dr4">
		<% elsif @dr_month[2] == i%>
			<td class = "dr3">
		<% elsif @dr_month[1] == i%>
			<td class = "dr2">
		<% elsif @dr_month[0] == i%>
			<td class = "dr1">
		<% else %>
			<td>
		<% end %>
        <%= sprintf("%5.1f",pt[i])%>
    </td>
    <% end %>
</tr>