<% @key_projects.each do |k| %>
<h1><%= k.project%></h1>
<h2><%= k.tapeout%></h2>
<div id="product-list">
    <h3>Project Totals</h3>
	<hr>
    <table>
        <tr>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Apr
            </th>
            <th>
                May
            </th>
            <th>
                Jun
            </th>
            <th>
                Jul
            </th>
            <th>
                Aug
            </th>
            <th>
                Sep
            </th>
            <th>
                Oct
            </th>
            <th>
                Nov
            </th>
            <th>
                Dec
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Man Mo
            </th>
            <th>
                Man Yr
            </th>
        </tr>
        <tr>
            <%for i in (0..16) %>
            <td>
                <%= sprintf("%5.2f",@project_totals[i])%>
            </td>
            <%end %>
        </tr>
    </table>
<br>
<br>
	<hr>
 <%end%>
