<% @key_projects.each do |k| %>
<h1><%= k.project%></h1>
<h2><%= k.tapeout%></h2>
<div id="product-list">
    <h3>Project Totals</h3>
	<hr>
    <table>
        <%= render :partial => "month_header", :locals => {:date => @date} %>
 		<%= render :partial => "project_totals", :locals => {:pt => @project_totals} %>
    </table>
<table>
	</table>
<br>
<br>
	<hr>
 <%end%>
