<h1>SinbadEE</h1>
<h2>AT58955</h2>
<div id="product-list">
    <h3>Project Totals</h3>
	<hr>
    <table>
        <tr>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Apr
            </th>
            <th>
                May
            </th>
            <th>
                Jun
            </th>
            <th>
                Jul
            </th>
            <th>
                Aug
            </th>
            <th>
                Sep
            </th>
            <th>
                Oct
            </th>
            <th>
                Nov
            </th>
            <th>
                Dec
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Man Mo
            </th>
            <th>
                Man Yr
            </th>
        </tr>
        <tr>
            <%for i in (1..17) %>
            <td>
                1.0
            </td>
            <%end %>
        </tr>
    </table>
	<hr>
    <!-- begin main table --><h3>Design</h3>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Activity
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Apr
            </th>
            <th>
                May
            </th>
            <th>
                Jun
            </th>
            <th>
                Jul
            </th>
            <th>
                Aug
            </th>
            <th>
                Sep
            </th>
            <th>
                Oct
            </th>
            <th>
                Nov
            </th>
            <th>
                Dec
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Man Mo
            </th>
            <th>
                Man Yr
            </th>
        </tr>
        <%for r in (1..8) %>
        <tr>
            <td>
                Paul Burchfield
            </td>
            <td>
                Development
            </td>
            <%for i in (1..17) %>
            <td>
                1.0
            </td>
            <%end %>
        </tr>
        <%end %>
    </table>
    <br>
    <h3>Product Engineering</h3>
    <table>
    <th>
        Name
    </th>
    <th>
        Activity
    </th>
    <th>
        Jan
    </th>
    <th>
        Feb
    </th>
    <th>
        Mar
    </th>
    <th>
        Apr
    </th>
    <th>
        May
    </th>
    <th>
        Jun
    </th>
    <th>
        Jul
    </th>
    <th>
        Aug
    </th>
    <th>
        Sep
    </th>
    <th>
        Oct
    </th>
    <th>
        Nov
    </th>
    <th>
        Dec
    </th>
    <th>
        Jan
    </th>
    <th>
        Feb
    </th>
    <th>
        Mar
    </th>
    <th>
        Man Mo
    </th>
    <th>
        Man Yr
    </th>
    </tr>
    <%for r in (1..8) %>
    <tr>
        <td>
            Jim Lutinski
        </td>
        <td>
            Development
        </td>
        <%for i in (1..17) %>
        <td>
            1.0
        </td>
        <%end %>
    </tr>
    <%end %>
	<hr>
</table>
</div>
