<%=render :partial =>"pill_navigation",:locals => {:active => "By_assignee"} %>
<%= render :partial =>"page_header",:locals => {:title => "Key Projects", :description => "Resource Review"} %>

<div id="report-list">
<table class="table table-hover">
	<%= render :partial => 'header_key_project' %>
	<%= render :partial => 'key_project' %>
</table>
</div>

