<h1>SAS Tool</h1>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a href="/sas/"><button type="button" class="btn btn-primary">SAS Listing</button></a>
    </div>
    <div class="btn-group">
        <a href="/sas/new"><button type="button" class="btn btn-info">New Record</button></a>
        <a href="/sas/new?entry=Abnormal"><button type="button" class="btn btn-info">New Record - Abnormal</button></a>
        <a href="/sas/new?entry=Obsolete"><button type="button" class="btn btn-info">New Record - Obsolete</button></a>
    </div>
</div>
<p>Report links will be here - TBD</p>


<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'spreadsheet' %>
<% end %>