		<h2>
			Misc Cost Information
		</h2>
		<table width="40%">
			<tr>
				<td>
					FG Subcon (Usually TnR)
				</td>
				<td>
					<%=c.tst_cost%>
				</td>
			</tr>
			<tr>
				<td>
					FG Subcon Yield
				</td>
				<td>
					<%=c.tst_yield%>
				</td>
			</tr>
		</table>