		<h2>
			<b>Miscellaneous Backend Cost Information</b>
		</h2>
		<table width="40%">
			<tr>
				<td>
					FG Subcon (Usually TnR)
				</td>
				<td>
					<%=sprintf("$%5.4f",c.fg_subcon)%>
				</td>
			</tr>
			<tr>
				<td>
					FG Subcon Yield
				</td>
				<td>
					<%=sprintf("%4.1f%",c.fg_yield)%>
				</td>
			</tr>

		</table>