<h1>SAS Tool</h1>
<>
<h2>Record Entry</h2>
<li> New Record</li>
<h2>Reports</h2>
<li>My Entries</li>
<li>All Entries</li>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
One
Two
Three
  </ul>
</div>
